<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.fvames.dao.OrderMapper">

    <resultMap id="OrderUserResultMapOfNested" type="Order" autoMapping="true">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_number" property="orderNumber" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />

        <!-- 嵌套查询 -->
        <association column="user_id" property="userInfo" autoMapping="true" javaType="UserInfo"
                     select="dev.fvames.dao.UserInfoMapper.selectById" />
        <collection  column="id"  property="detailList"  autoMapping="true" javaType="List" ofType="OrderDetail"
                    select="dev.fvames.dao.OrderDetailMapper.selectByOrderId">
        </collection>
    </resultMap>


    <resultMap id="OrderUserResultMapOfAssociation" type="Order" autoMapping="true">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="order_number" property="orderNumber"/>
        <result column="create_date" property="createDate"/>
        <result column="update_date" property="updateDate"/>

        <!--  嵌套结果  -->
        <association column="user_id" property="userInfo" javaType="UserInfo" autoMapping="true" />
        <collection property="detailList" javaType="List" ofType="dev.fvames.domain.OrderDetail" autoMapping="true" >
            <association property="item" column="order_id" javaType="Item" autoMapping="true" />
        </collection>
    </resultMap>

    <select id="selectOrderWithUserAndDetailItemByOrderNumberOfNested" resultMap="OrderUserResultMapOfNested">
        select * from tb_order t
        where t.order_number = #{orderNumber}
    </select>

    <select id="selectOrderWithUserAndDetailItemByOrderNumberOfAssociation" resultMap="OrderUserResultMapOfAssociation">
        select * from tb_order t
        left join user_info ui on ui.id=t.user_id
        left join order_Detail od on od.order_id=t.id
        left join tb_item ti on ti.id=od.item_id
        where t.order_number = #{orderNumber}
    </select>

</mapper>