<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dev.fvames.dao.OrderMapper">

    <resultMap id="OrderUserResultMap" type="Order" autoMapping="true">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="order_number" property="orderNumber" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />

        <!-- 嵌套查询 -->
        <!--<association column="user_id" property="userInfo" autoMapping="true"
                     javaType="UserInfo"
                     select="dev.fvames.dao.UserInfoMapper.selectById">-->

        <!--  关联查询  -->
        <association column="user_id" property="userInfo" javaType="UserInfo" autoMapping="true">
            <!--<id column="id" property="id"/>
            <result column="user_name" property="userName"/>
            <result column="age" property="age"/>
            <result column="sex" property="sex"/>
            <result column="birthday" property="birthday"/>
            <result column="password" property="password"/>
            <result column="user_type" property="userType"/>
            <result column="enabled" property="enabled"/>
            <result column="real_name" property="realName"/>
            <result column="qq" property="qq"/>
            <result column="email" property="email"/>
            <result column="tel" property="tel"/>
            <result column="created" property="created"/>
            <result column="updated" property="updated"/>-->
        </association>
    </resultMap>

    <select id="selectOrderWithUserByOrderNumber" resultMap="OrderUserResultMap">
        select * from tb_order t
        left join user_info ui on ui.id=t.user_id
        where t.order_number = #{orderNumber}
    </select>

</mapper>